{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
                The SRL API is under development
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>The API documentation will be available at this <a href="/docs/">address</a></p>
        </div>
    </div>
</div>
{% endblock %}
